/*All settings*/
body {
  font-family: 'Oranienbaum', serif;
    background: url(http://www.freevectors.net/files/large/GreyFloralPatternBackground.jpg) repeat;
}
h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
}
p {
  font-size: 20px;
}
p a {
    color: rgba(255, 0, 0, 0.78);
    text-decoration: underline;
}
a:hover {
  color: red;
}


/*All titles*/
.title {
  padding: 0 0 16px;
  text-align: center;
}
.title h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 20px;
  color: #000;
  padding-top: 11px; 
}
.subtitle {
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

/*Logo and Navigation*/
.navbar-default {
  background: transparent;
  border: none;
  margin-bottom: 0;
}
ul li {
  list-style: none;
}
header .block {
  padding: 1px 30px;
  box-sizing: border-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.86);
  box-shadow: 0px 0px 11px rgba(0,0,0,.5);
  text-align: center;
  margin-top: 260px;
}
.navbar-nav {
    text-align: center;
    float: none;
}
.navbar-nav>li {
    float: none;
    display: inline-block;
}
.nav>li>a>img {
    max-width: 64%;
}
.nav>li>a>img:hover {
    opacity: .65;
}
.nav>li>.flag {
    padding: 0;
}
.navbar-inverse {
  background: #fff;
  background: rgba(255, 255, 255, 0.94);
  border: none; 
  padding-top: 23px;
}
.navbar-inverse .navbar-nav>li>a {
  color: #000;
  font-size: 22px;
  line-height: 20px;
  font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  color: #737070;
}
.navbar-inverse .navbar-toggle {
  background-color: #000; 
  border: #000; 
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #000; 
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}

/*About me*/
.about-me {
    margin: 155px 0 90px;
    background: #fff;
    background: rgba(255, 255, 255, 0.94);
    padding: 49px 27px;
}
.my-photo img{
    max-width: 300px;
    margin: 0px 60px 20px 0;
    box-shadow: 2px 2px 8px rgb(158, 158, 158);
    float: left;
}
.modal-body img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.nav-tabs>li>a {
    cursor: pointer;
}


/*My work section*/
.individual {
    background: #fff;
    background: rgba(255, 255, 255, 0.94);
    padding: 49px 0;
    margin: 0 0 90px;
}
.company-block {
    width: 90%;
    margin: 40px auto 0;
    padding: 43px 38px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 0px 7px #737067;
    background: #6e6659;
    background: rgba(110, 102, 89, 0.79);
	border: 5px solid #fff;
}
.company-block img:hover {
    opacity: .6;
}
.company-block img {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 2px;
    padding: 5px;
    box-shadow: 0px 0px 7px #b0afab;
}
.company-block h3 {
    font-weight: bold;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 17px;
}
.company-block p {
    font-size: 18px;
    text-transform: lowercase;
    text-align: center;
    padding: 14px;
    border-radius: 2px;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 17px;
}

/*Contact section*/
.contacts {
    background: #fff;
    background: rgba(255, 255, 255, 0.94);
    padding: 49px 0 0;
}
.contacts .row {
  margin-bottom: 11px;
}
.contact-form {
  padding: 0 0 50px;
    text-align: center;
}
.form-group label {
  font-size: 17px;
  padding: 7px 0 9px 5px;
  color: #000;
}
.textarea-box {
    margin: 28px 0;
}
.form-group input[type=button] {
  background: #000;
  border: none;
  border-radius: 5px;
  padding: 3px 36px;
  color: #fff;
  font-size: 17px;
}
.form-group input[type=button]:hover {
  opacity: .7;
}
.form-control {
  color: #000;
  font-size: 19px;
}
.messages {
  font-size: 20px;
}
iframe {
  width: 100%;
}
.contacts-tel {
  margin-top: 34px;
}

/*To top bottom*/
.to-top {
  position: fixed;
  bottom: 47px;
  right: 39px;
  display: none;
  border-radius: 7px;
  opacity: .6;
}
.to-top:hover {
  opacity: 1;
}
.to-top i {
  color: #000;
  color: rgba(0, 0, 0, 0.73);
  padding: 5px;
}


/*Media queries*/
@media (max-width: 450px) {
    .title h2 {
        padding-top: 40px;
    }
}